* {
    font-family: 'Roboto', sans-serif;
}

body, li, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.app-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    background: linear-gradient(20deg, #000000d6, transparent);
}

.main-countdown {
    /*font-family: 'Black Ops One', cursive;*/
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    /*font-family: 'Black Ops One', monospace;*/
    font-size: 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.time {
    display: inline-block;
    padding: 0 5px;
    user-select: none;
}

.cd .time-num {
    font-size: 16px;
}

.cd .time-label {
    font-size: 8px;
}

.main-countdown .time {
    padding: 0 20px;
    display: inline-block;
    text-shadow: 2px 2px 6px;
}

.main-countdown .time-num {
    text-align: center;
    margin-bottom: 15px;
    font-size: 14vw;
}

.main-countdown .time-label {
    text-align: center;
    font-size: 2vw;
    color: rgba(80,80,80,0.91)
}

.main-title {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50vw;
    text-align: center;
    text-overflow: ellipsis;
    transform: translate(-50%, -80%);
    font-size: 4vw;
    color: darkgrey;
    font-family: 'Russo One', sans-serif;
    cursor: default;
}

.main-desc {
    position: absolute;
    width: 60vw;
    text-align: center;
    text-overflow: ellipsis;
    left: 50%;
    bottom: 10%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 1.6vw;
    color: rgba(128, 128, 128, 0.2);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.main-desc:hover {
    color: rgba(19, 19, 19, 0.91);
}

.cd-list-container {
    height: 100%;
    width: 230px;
    position: absolute;
    right: 0;
    background-attachment: fixed;
    z-index: 1;
    user-select: none;

    -webkit-transition-property: right;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.cd-list-container-hide {
    height: 100%;
    width: 231px;
    position: absolute;
    right: -201px;
    /*background-attachment: fixed;*/
    z-index: 1;

    -webkit-transition-property: right;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.cd-list-expand {
    height: 100%;
    width: 30px;
    position: absolute;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    fill: rgba(134, 134, 134, 0.2);
    z-index: 1;
}

.cd-list-expand:hover {
    fill: rgba(181,181,181,0.6);
    background-color: rgba(132, 132, 132, 0.41)
}

.cd-list-expand svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.cd-list {
    height: 100%;
    width: 200px;
    position: absolute;
    right: 0;
    overflow-y: auto;
    border-left: rgba(224, 224, 224, 0.15) 1px solid;
}

.add {
    width: 100%;
    height: 60px;
    /*border-bottom: black solid 1px;*/
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-size: 48px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #ffffffe6;
}

.add:hover {
    background-color: rgba(165, 165, 165, 0.11);
}

.cd-list-item {
    box-sizing: content-box;
    width: 100%;
    height: 100px;
    /*border-bottom: black solid 1px;*/
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.cd-list-item:hover {
    background-color: rgba(165, 165, 165, 0.11);
}

.glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .5);
    filter: blur(100px);
    /*margin: -20px;*/
}

.glass {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    /*z-index: 1;*/
}

.cd-list-item-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

.cd-list-item-content .title {
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow-x: auto;
}

.cd-list-item-content .cd {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: darkgrey;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.cd-list-item .remove {
    position: absolute;
    right: 7px;
    top: 5px;
    font-size: 43px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    color: #d4d4d4;
    user-select: none;
    z-index: 2;
}

.cd-list-item .remove:hover {
    color: black;
}

.user-icon {
    position: absolute;
    left: 20px;
    top: 20px;
}